<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags  -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Huro :: {{title}}</title>
        <link rel="icon" type="image/png" href="assets/img/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <link rel="stylesheet" href="{{root}}assets/css/main.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet">

    </head>
    <body>
        <div id="huro-app" class="app-wrapper">

            <div class="app-overlay"></div>

            {{> pageloader}}

            {{> mobile-navbar}}
            {{> mobile-sidebar-main}}

            {{> circular-menu}}

            {{> sidebar}}
            {{> languages-panel}}
            {{> activity-panel}}
            {{> search-panel}}

            {{> body}}
            {{> scripts}}
        </div>
    </body>
</html>
